<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Person</title>
  </head>
  <body>
    <h1>
    {{#person}}
      Hello Person {{name.firstName}}!
    {{/person}}
    {{^person}}
      Hello Guest
    {{/person}}
    </h1>
  </body>
</html>
